<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play 2048 Clone</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<table>
    <thead>
    <tr>
        <th></th>
        <th>
            <span class="button-small">
            <a href="/">
                SELECT GAME
            </a>
            </span>

            <span class="button-small">
            <a href="/reset">
                RESTART
            </a>
            </span>
            &nbsp;
            <span class="button-small">
            <a href="/undo">
                UNDO LAST MOVE
            </a>
            </span>

        </th>
        <th></th>
    </tr>
    <tr>
        <th colspan="3">
            <br>
            2048 Clone by MSz (V23.10.06.22.33)
            <br>
            <span th:text="${status}"></span>
        </th>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td>
            <a href="/move/up">
                <button class="horizontal-button" th:classappend="${board.canMoveUp() ? '' : 'disabled-button'}">&uarr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a href="/move/left">
                <button class="vertical-button" th:classappend="${board.canMoveLeft() ? '' : 'disabled-button'}">&larr;
                </button>
            </a>
        </td>
        <td>
            <table>
                <tr th:each="row, y:${board.getPlayBoardAsArray()}">
                    <td th:each="column, x:${board.getPlayBoardAsArray()}" class="cell"
                        th:classappend="|cell${board.getElementXY(x.index,y.index)}|" th:id="${(x.index==newCellX && y.index==newCellY) ? 'newcell' : ''}">
                        <span th:text="${board.getElementXY(x.index,y.index)}" th:remove="tag"></span>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <a href="/move/right">
                <button class="vertical-button" th:classappend="${board.canMoveRight() ? '' : 'disabled-button'}">&rarr;
                </button>
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="/move/down">
                <button class="horizontal-button" th:classappend="${board.canMoveDown() ? '' : 'disabled-button'}">
                    &darr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>