<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play 2048 Clone</title>
    <link rel="stylesheet" th:href="@{styles.css}">
    <div th:remove="tag" th:if="${board.size > 6}">
        <link rel="stylesheet" th:href="@{styles-small.css}">
    </div>

</head>
<body>
<table th:with="canMoveUp=${board.canMoveUp()}, canMoveDown=${board.canMoveDown()},
                canMoveLeft=${board.canMoveLeft()}, canMoveRight=${board.canMoveRight()}">
    <thead>
    <tr>
        <th colspan="3">
            <a href="/reset">
                <button class="button-small">RESTART</button>
            </a>
            <a href="/">
                <button class="button-small">SELECT GAME</button>
            </a>
            <a href="/undo">
                <button class="button-small">UNDO LAST MOVE</button>
            </a>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            <br>
            2048 Clone by MSz (V23.10.10.12.55)
            <br>
            <span th:text="${status}"></span>
        </th>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td>
            <a th:href="${canMoveUp ? '/move/up' : '#'}">
                <button class="horizontal-button" th:classappend="${canMoveUp ? '' : 'disabled-button'}">&uarr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>

            <a th:href="${canMoveLeft ? '/move/left' : '#'}">
                <button class="vertical-button" th:classappend="${canMoveLeft ? '' : 'disabled-button'}">&larr;
                </button>
            </a>
        </td>
        <td>
            <table>
                <tr th:each="row, y:${board.getPlayBoardAsArray()}">
                    <td th:each="column, x:${board.getPlayBoardAsArray()}" class="cell"
                        th:classappend="|cell${board.getElementXY(x.index,y.index)}|" th:id="${(x.index==newCellX && y.index==newCellY) ? 'newcell' : ''}">
                        <span th:text="${board.getElementXY(x.index,y.index)}" th:remove="tag"></span>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <a th:href="${canMoveRight ? '/move/right' : '#'}">
                <button class="vertical-button" th:classappend="${canMoveRight ? '' : 'disabled-button'}">&rarr;
                </button>
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a th:href="${canMoveDown ? '/move/down' : '#'}">
                <button class="horizontal-button" th:classappend="${canMoveDown ? '' : 'disabled-button'}">
                    &darr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>