<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play 2048 Clone</title>
    <link rel="stylesheet" th:href="@{styles.css}">
    <div th:remove="tag" th:if="${board.size > 6}">
        <link rel="stylesheet" th:href="@{styles-small.css}">
    </div>

</head>
<body>
<table th:with="canMoveUp=${board.canMoveUp()}, canMoveDown=${board.canMoveDown()},
                canMoveLeft=${board.canMoveLeft()}, canMoveRight=${board.canMoveRight()}">
    <thead>
    <tr>
        <th colspan="3">
            <a href="/reset">
                <button class="button-small">RESTART</button>
            </a>
            <a href="/">
                <button class="button-small">SELECT GAME</button>
            </a>
            <a th:href="${canUndo == 0 ? '#' : '/undo'}">
                <button class="button-small" th:classappend="${canUndo == 0 ? 'disabled-button' : ''}">UNDO LAST MOVE</button>
            </a>
        </th>
    </tr>
    <tr>
        <th colspan="3">
            <br>
            2048 Clone by MSz (V23.10.10.20.43)
            <br>
            <span th:text="${gameName}"></span>
            <br>
            <span th:remove="tag" th:if="${(!canMoveDown && !canMoveUp && !canMoveLeft && !canMoveRight)}">
                <span class="gameOver">
                    No more move. Game over.
                </span>
            </span>
        </th>
    </tr>
    </thead>
    <tr>
        <td></td>
        <td>
            <a th:href="${canMoveUp ? '/move/up' : '#'}">
                <button class="horizontal-button" th:classappend="${canMoveUp ? '' : 'disabled-button'}">&uarr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a th:href="${canMoveLeft ? '/move/left' : '#'}">
                <button class="vertical-button" th:classappend="${canMoveLeft ? '' : 'disabled-button'}">&larr;
                </button>
            </a>
        </td>
        <td>
            <table>
                <tr th:each="y:${#numbers.sequence(0, board.getSize() - 1)}">
                    <td th:each="x:${#numbers.sequence(0, board.getSize() - 1)}"
                        th:with="elementXY=${board.getElementXY(x, y)}"
                        th:class="|cell cell${elementXY}|" th:id="${(x==newCellX && y==newCellY) ? 'newcell' : ''}">
                        <span th:text="${elementXY}" th:remove="tag"></span>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <a th:href="${canMoveRight ? '/move/right' : '#'}">
                <button class="vertical-button" th:classappend="${canMoveRight ? '' : 'disabled-button'}">&rarr;
                </button>
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a th:href="${canMoveDown ? '/move/down' : '#'}">
                <button class="horizontal-button" th:classappend="${canMoveDown ? '' : 'disabled-button'}">
                    &darr;
                </button>
            </a>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>