<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start Game</title>
</head>
<body>
<span th:unless="${games.size() == 0}">
<form method="POST" action="/game" th:object="${selectGameDto}">
    <label for="games">Select Game</label>
    <select th:name="gameId" id="games">
        <option th:each="game:${games}" th:value="${game.getId()}" th:text="${game.getId()}"></option>
    </select>
    <input type="submit" value="Play this">
</form>
</span>
<form method="POST" action="/game" th:object="${selectGameDto}">
    <input th:name="gameId" type="hidden" value=0>


    <label for="sizes">Select size if start new game</label>
    <select th:name="size" id="sizes">
        <option th:each="size : ${#numbers.sequence(3, 10)}" th:value="${size}" th:text="${size}"></option>
    </select>
    <input type="submit" value="Play this">
</form>
</body>
</html>